* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #282828;
        color: white;
    }
    
    header {
        background-color: #1d1f1d;
        box-shadow: 0 0.5rem 2rem rgba(2, 2, 2, 0.137);

    }
    
    .navLogo {
        background-image: url("./Logo light.png");
    }
    
    #h-icon div {
        background-color: white;
    }

    .telefon {
        background-image: url("./telephone light.png");
    }
    
    .text1 {
        text-shadow: 0.075rem 0.075rem 0.1875rem black;
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: white;
        color: black;
    }
    
    header {
        background-color: white;
        box-shadow: 0 0.5rem 2rem rgba(2, 2, 2, 0.137);

    }

    .navLogo {
        background-image: url("./Logo dark.png");
    }

    #h-icon div {
        background-color: black;
    }
    
    .telefon {
        background-image: url("./telephone.svg");
    }
}

body {
    font-family: sans-serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.navLogo {
    width: calc(6.8rem + 3.4vw);
    height: calc(2rem + 1vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul a {
    color: white;
    text-shadow: 0.075rem 0.075rem 0.1875rem #000000;

}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#h-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#h-icon div {
    width: 35px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -7px);
    transform: rotate(45deg) translate(-6px, -7px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }
    
    #h-icon {
        display: block;
    }
}

/* Nav Ende */

/* site start */

.img1 {
    background-image: url("./indore.jpeg");
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: calc(15rem + 30vw);
    height: calc(10rem + 20vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text1 {
    font-family: sans-serif;
    font-size: calc(1rem + 1vw);
    position: relative;
    text-align: center;
    margin-top: 3rem;
    margin-left: calc(3rem + 1vw);
    margin-right: calc(3rem + 1vw);
}

.listStyle {
    margin-top: 3rem;
}

.whatsapp {
    background-image: url("./WhatsAppLogo.png");
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.whatsappListStyle {
    margin-left: auto;
    margin-right: 1rem;
}

.instagram {
    background-image: url("./InstagramLogo.png");
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.instagramListStyle {
    margin-left: 1rem;
    margin-right: auto;
}

.telefon {
    width: calc(2rem + 1vw);
    height: calc(2rem + 1vw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.telefonListStyle {
    margin-left: 2rem;
    margin-right: 2rem;
}